<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6175500836-keh1ikf1nabaahiob63epal9v5veodbm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6175500836-keh1ikf1nabaahiob63epal9v5veodbm</string>
	<key>API_KEY</key>
	<string>AIzaSyDLXm5TutKIvE5l-A3vtAc3RGNSIYccpho</string>
	<key>GCM_SENDER_ID</key>
	<string>6175500836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.chatAPP</string>
	<key>PROJECT_ID</key>
	<string>datagridchat</string>
	<key>STORAGE_BUCKET</key>
	<string>datagridchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6175500836:ios:2832cfb04304f71df4c6b1</string>
</dict>
</plist>